<template>
  <div class="league">
    <div class="logo">
        Dolani Football LiveScores
    </div>
    <div class="menu">
      <router-link to="league" class="leagues">LEAGUES</router-link>
      <router-link to="live" class="games">GAMES</router-link>
      <router-link to="favorite" class="favorites">FAVORITES</router-link>
    </div>
    
      <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12" v-for="result in results">
              <div class="row">
                <div class="col-xs-6 col-sm-8">
                {{result.country_name}}
                </div>
                <div class="arrow col-xs-6 col-sm-4">
                >>
                </div>
              </div>
              <hr>
            </div>

          </div>
        </div>
      </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
  name: 'live',
  data () {
    return {
      results: [],
      items: [],
    }
  },

  mounted(){
    axios.get("https://apifootball.com/api/?action=get_countries&APIkey=7882c3367fe84007ed9a1fae21f8f7e71e7540431b45f63691cc43cf3609c9d3")
    .then(response => 
    {
      this.results = response.data
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu {
    background-color: #004C8F;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.row_league {
  color: black;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

  .menu .leagues {
    color:white;
    cursor: pointer; 
    text-decoration: none;
  }

.arrow {
  cursor: pointer;
}
  .menu .games {
    color:thistle;
    cursor: pointer;
    text-decoration: none;
  }

  .menu .favorites {
    color:thistle;
    cursor: pointer;
    text-decoration: none;
  } 
 
</style>
